body
{
	background-color: lightgrey;
}
.Heading
{
	height: 100px;
	width: 100%;
	margin-top: 200px;

	background-color: white;
}
.Heading h1
{
	padding: 30px 30px;
	color: red;
	margin-left: 40px;
}
.btn
{
	height: 100px;
	width: 100%;
	margin-top: 100px;
	background-color: white;
}
.btn a
{
	position: relative;
	top:15%;
	color: blue;
	font-size: 30px;
	text-decoration: none;
}